.header {
  position: fixed;
  top: 0%;
  /*background-color: #de9b35;*/
  background: linear-gradient(250deg, #de9b35 80%, #ccba7c 80%);
  color: #0c0f12;
  width: 100%;
  height: 50px;
  text-align: center;
  font-style: oblique;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
