.joinSession {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.joinSession button {
  min-width: 15%;
  min-height: 5%;
  border-radius: 25px;
  background-color: #de9b35;
}
